<thead>
                          <tr>
                              <th scope="col">Fila</th>
                              <th scope="col">Ramal</th>
                              <th scope="col">Email</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td scope="row">Ativações</td>
                              <td scope="row"><a class="btn btn-outline-danger" href="tel:5001">5001</a></td>
                              <td>Não encontrado</td>
                          </tr>
                          <tr>
                              <td scope="row">CGR</td>
                              <td scope="row"><a class="btn btn-outline-danger" href="tel:5002">5002</a></td>
                              <td scope="row"><a class="btn btn-outline-danger" href="mailto:cgr@sebratel.com.br">cgr@sebratel.com.br</a></td>
                          </tr>
                          <tr>
                                <td scope="row">Comercial Backoffice</td>
                                <td scope="row"><a class="btn btn-outline-danger" href="tel:4004">4004</a></td>
                                <td scope="row"><a class="btn btn-outline-danger" href="mailto:backoffice@sebratel.com.br">backoffice@sebratel.com.br</a></td>
                          </tr>
                          <tr>
                              <td scope="row">Comercial Corporativo</td>
                              <td scope="row"><a class="btn btn-outline-danger" href="tel:4006">4006</a></td>
                              <td scope="row"><a class="btn btn-outline-danger" href="mailto:corporativo@sebratel.com.br">corporativo@sebratel.com.br</a></td>
                          </tr>
                          <tr>
                              <td scope="row">Comercial Vendas</td>
                              <td scope="row"><a class="btn btn-outline-danger" href="tel:4003">4003</a></td>
                              <td scope="row"><a class="btn btn-outline-danger" href="mailto:vendas@sebratel.com.br">vendas@sebratel.com.br</a></td>
                          </tr>
                          <tr>
                              <td scope="row">Financeiro Cancelamento</td>
                              <td scope="row"><a class="btn btn-outline-danger" href="tel:4001">4001</a></td>
                              <td>Não encontrado</td>
                          </tr>
                          <tr>
                              <td scope="row">Operacional Agendamentos</td>
                              <td scope="row"><a class="btn btn-outline-danger" href="tel:5003">5003</a></td>
                              <td scope="row"><a class="btn btn-outline-danger" href="mailto:operacional@sebratel.com.br">operacional@sebratel.com.br</a></td>
                          </tr>
                          <tr>
                              <td scope="row">Infraestrutura</td>
                              <td scope="row"><a class="btn btn-outline-danger" href="tel:5004">5004</a></td>
                              <td scope="row"><a class="btn btn-outline-danger" href="mailto:infra@sebratel.com.br">infra@sebratel.com.br</a></td>
                          </tr>
                          <tr>
                              <td scope="row">Comercial Relacionamento</td>
                              <td scope="row"><a class="btn btn-outline-danger" href="tel:4005">4005</a>
                              <td>Não encontrado</td>
                          </tr>
                          <tr>
                              <td scope="row">Financeiro</td>
                              <td scope="row"><a class="btn btn-outline-danger" href="tel:4002">4002</a></td>
                              <td scope="row"><a class="btn btn-outline-danger" href="mailto:financeiro@sebratel.com.br">financeiro@sebratel.com.br</a></td>
                          </tr>
                          <tr>
                              <td scope="row">Ouvidoria</td>
                              <td scope="row"><a class="btn btn-outline-danger" href="tel:9001">9001</a></td>
                              <td scope="row"><a class="btn btn-outline-danger" href="mailto:ouvidoria@sebratel.com.br">ouvidoria@sebratel.com.br</a></td>
                          </tr>
                          <tr>
                              <td scope="row">Suporte</td>
                              <td scope="row"><a class="btn btn-outline-danger" href="tel:9000">9000</a></td>
                              <td scope="row"><a class="btn btn-outline-danger" href="mailto:suporte@sebratel.com.br">suporte@sebratel.com.br</a></td>
                          </tr>
                          <tr>
                              <td scope="row">Telefonista 1</td>
                              <td scope="row"><a class="btn btn-outline-danger" href="tel:9003">9003</a></td>
                              <td>Não encontrado</td>
                          </tr>
                          <tr>
                              <td scope="row">Telefonista 2</td>
                              <td scope="row"><a class="btn btn-outline-danger" href="tel:9002">9002</a></td>
                              <td>Não encontrado</td>
                          </tr>
                      </tbody>