<tr>
    <td>Técnica</td>
    <td>NOC</td>
    <td>9000</td>
    <td>suporte@sebratel.com.br</td>
</tr>
<tr>
    <td>Técnica</td>
    <td>NOC</td>
    <td>9000</td>
    <td>suporte@sebratel.com.br</td>
</tr>