<nav class="navbar justify-content-center bg-light ">
    <a class="navbar-brand my-2" href="#">
        <img src="https://sebratel.com.br/wp-content/uploads/2022/03/logo-rodape.png" alt="">
    </a>
</nav>
