<thead>
    <tr>
        <th scope="col">Sala</th>
        <th scope="col">Ramal</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td scope="row">Laboratório</td>
        <td scope="row"><a class="btn btn-outline-danger" href="tel:250">250</a></td>
    </tr>
    <tr>
        <td scope="row">Reuniões I</td>
        <td scope="row"><a class="btn btn-outline-danger" href="tel:245">245</a></td>
    </tr>
    <tr>
        <td scope="row">Reuniões II</td>
        <td scope="row"><a class="btn btn-outline-danger" href="tel:247">247</a></td>
    </tr>
    <tr>
        <td scope="row">Sala dos Técnicos</td>
        <td scope="row"><a class="btn btn-outline-danger" href="tel:285">285</a></td>
    </tr>
    <tr>
        <td scope="row">Almoxarifado</td>
        <td scope="row"><a class="btn btn-outline-danger" href="tel:294">294</a></td>
    </tr>
    <tr>
        <td scope="row">Loja Triunfo</td>
        <td scope="row"><a class="btn btn-outline-danger" href="tel:334">334</a></td>
    </tr>
    <tr>
        <td scope="row">Loja Nova santa rita</td>
        <td scope="row"><a class="btn btn-outline-danger" href="tel:332">332</a></td>
    </tr>
    <tr>
        <td scope="row">Loja Parobé</td>
        <td scope="row"><a class="btn btn-outline-danger" href="tel:340">340</a></td>
    </tr>
    <tr>
        <td scope="row">Loja Centro São Leopoldo</td>
        <td scope="row"><a class="btn btn-outline-danger" href="tel:331">331</a></td>
    </tr>
    <tr>
        <td scope="row">Loja Três Coroas</td>
        <td scope="row"><a class="btn btn-outline-danger" href="tel:335">335</a></td>
    </tr>
    <tr>
        <td scope="row">Data Center - NH</td>
        <td scope="row"><a class="btn btn-outline-danger" href="tel:291">291</a></td>
    </tr>
    <tr>
        <td scope="row">Data Center - SPS Centro</td>
        <td scope="row"><a class="btn btn-outline-danger" href="tel:293">293</a></td>
    </tr>
    <tr>
        <td scope="row">Data Center - SPS Piratini</td>
        <td scope="row"><a class="btn btn-outline-danger" href="tel:295">295</a></td>
    </tr>
    <tr>
        <td scope="row">Data Center - São Leopoldo</td>
        <td scope="row"><a class="btn btn-outline-danger" href="tel:292">292</a></td>
    </tr>
</tbody>