*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}

div.table-ramal-index table, tr, th, td{
  text-align: center;
}

body{
  background-color: var(--bs-white);
}

/*icon*/
.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}

/*filas e salas*/

aside.container-aside{
  z-index: 999;
  position: absolute;
}
aside.container-aside div.salas, div.filas{
  margin: 10px;
  height: 100%;
  display: flex;
}
aside.container-aside div.container-salas{
  display: none;
}
aside.container-aside div.container-filas{
  display: none;
}
aside.container-aside button{
  max-height: 200px;
}
aside.container-aside h3{
  font-size: 20px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
}
aside.container-aside div.header-filas, aside.container-aside div.header-salas{
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}